/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #F8F7F3;
}

.container {
    width: 87%;
    margin: 6% auto;
}

h1 {
    display: flex;
    flex-direction: column;
    color:gray;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    width: 90%;
}
  

#vundie {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

.whatever {
    width: 10%;
    display:flex;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    justify-content: center;
    align-items: flex-start;
    line-height: 150%;
    flex-wrap: wrap;
}

.fas.fa-caret-up {
    display: flex;
}

nav {
    display: flex;
    align-content:baseline;
    justify-content: space-between;
}

.intro {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}

.intro-text {
display: flex;
width: 40%;
margin-right: 1%;
line-height: 250%;
font-family: 'Lexend Deca';
font-size: 1.1em;
font-weight: bold;
}

.intro-image {
display: flex;
width: 45%;
margin-left: 1%;
}


h2 {
    margin:10% 0 8% 0;
    font-family: 'Oswald';
    font-size: 4em;
}

h3 {
    font-family: 'Lexend Deca';
    font-size: 1.5em;
}

.middle-video {
    display: flex;
    margin: 23% 0;
    justify-content: center;
    align-items: center;
}

iframe {
    width:70%;
    height: 5dbfnmpg[,,0vh;
}

.personas {
display:flex;
}

.box {
    width: 40%;
}
.box.p {
display: flex;
font-family: 'PlayFair Display';
padding: 4% 0;
color: rgb(85, 87, 85);
}

@media only screen and (min-width: 200px) and (max-width: 600px){
 
    .container {
        width: 80%;
    }

    h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    flex-wrap: wrap;
    width: 100%;
    margin: 10% 0 0% 0;
 }

 .whatever {
     display: none;
     width: 0%;
 }

 nav {
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap:wrap;
 }

 .intro {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column-reverse;
 }

    .intro-text {
        width: 100%;
        text-align: justify;
        line-height: 150%;
    }

    .intro-image {
        margin: 15% 0 15% 0;
        width: 100%;
    }
    }